.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.bg-image {
    background-image: url('../../../assets/images/barry-talley-PkN2ExU2MX0-unsplash\ \(1\).jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; /* Adjust the initial height as needed */
    filter: brightness(90%); /* Example filter */
}

.content {
    max-width: 80%;
}

@media (max-width: 1200px) {
    .bg-image {
        height: 40vh; /* Adjust height for large screens */
    }
}

@media (max-width: 992px) {
    .bg-image {
        height: 35vh; /* Adjust height for medium screens */
    }
}

@media (max-width: 768px) {
    .bg-image {
        height: 30vh; /* Adjust height for small screens */
    }
}

@media (max-width: 576px) {
    .bg-image {
        height: 25vh; /* Adjust height for extra small screens */
    }
}

.contactus {
    color: rgb(255, 255, 255);
    font-size: clamp(1.5rem, 3vw, 3rem); /* Adjust values as needed */
}

.contact-bread {
    margin-top: 10px;
}

.contact-bread a {
    text-decoration: none;
    color: black;
}

.traveler-connect {
    background-color: #f8f9fa;
}

.traveler-connect h2 {
    color: #121415;
    font-family: "PT Serif", serif;
    font-size: clamp(1.3rem, 3vw, 2rem); /* Adjust values as needed */
}

.card {
    border: none;
}

.card .card-body {
    padding: 2rem;
}

.card-title {
    margin-bottom: 1rem;
    color: #343a40;
    font-family: "Merriweather", serif;
    font-size: clamp(1rem, 3vw, 1.2rem); /* Adjust values as needed */
}

.card-text i {
    margin-right: 8px;
    color: #f09819;
}

.card-text {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.675rem, 2vw, 0.875rem); /* Adjust values as needed */
}

.breadcrumb {
    background: transparent;
}

.breadcrumb-item a {
    color: white;
    font-size: clamp(0.575rem, 1.5vw, 0.975rem); /* Adjust values as needed */
}

.breadcrumb-item.active {
    color: white;
    font-size: clamp(0.575rem, 1.5vw, 0.975rem); /* Adjust values as needed */
}

.breadcrumb li {
    color: rgb(112, 109, 109);
    font-size: clamp(0.575rem, 1.5vw, 0.975rem); /* Adjust values as needed */
}

.breadcrumb-item a {
    color: black;
}

.contact-bread {
    margin-top: clamp(10px, 20px, 30px); /* Adjust the values as needed */
}

.bread-title {
    text-decoration: none;
    color: rgb(38, 37, 37);
    font-size: clamp(1rem, 1.5vw, 1.2rem); /* Adjust values as needed */
}

.contactform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blend-image {
    mix-blend-mode: multiply;
    opacity: 0.2; /* Adjust the opacity as needed */
}

.contactform-container .row {
    margin: 0; /* Remove any default margin */
    padding: 20px; /* Add padding inside the row */
}

.contactform-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.formhead {
    margin: 20px;
    font-size: clamp(1.5rem, 3vw, 2.5rem); /* Adjust values as needed */
}

.connect {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem); /* Adjust values as needed */
}

.contactform-container form {
    width: 100%;
    padding: 20px; /* Add padding inside the form */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: grey; /* Optional: Add a subtle shadow */
}

.custom-form {
    width: 80%;
    max-width: 500px;
    padding: 2rem !important;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-form .form-control {
    background-color: rgb(255, 255, 255);
}

.custom-form .btn {
    background-color: #151516; /* or any color you prefer */
    color: orange;
    border: none;
    padding: 10px;
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Adjust values as needed */
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.custom-form .btn:hover {
    background-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../../../assets/images/calendar-event.png');
    background-size: cover;
    width: 20px;
    height: 20px;
}

.callicon {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Adjust values as needed */
}

.image-container {
    position: relative;
}

.overlay-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callicon {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: rgb(16, 13, 13);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-form .input:focus {
    outline: none;  /* Remove default outline */
    box-shadow: none;  /* Remove default box shadow */
    border-color: #80bdff;
}

.callicon img {
    margin-right: 10px;
}

.callicon span {
    font-size: clamp(1.5rem, 2.5vw, 2rem); /* Adjust values as needed */
}

@media (min-width: 768px) {
    .custom-form {
        width: 70%;
        max-width: 450px;
    }
}
