<section class="contact-header text-center py-5">
    <div class="container-fluid bg-image text-center d-flex align-items-center justify-content-center">
        <div class="content">
          <h1 class="contactus">We're Here for You - Anytime, Anywhere</h1>
        </div>
      </div>
      
</section>
<app-breadcrumb></app-breadcrumb>

<section class="traveler-connect py-5">
    <div class="container">
        <h2 class="text-center mb-5">Traveler Connect</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Customer Care</h5>
                        <p class="card-text">Contact us for ongoing trips with our customer support team.</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> victoriasneha04&#64;gmail.com</p>
                        <p class="card-text"><i class="fas fa-phone"></i> 9677518806</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">EMI Support</h5>
                        <p class="card-text">EMI-related assistance or to discuss your repayment plan.</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> victoriasneha04&#64;gmail.com</p>
                        <p class="card-text"><i class="fas fa-phone"></i> 6385468336</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Complaint/Query Support</h5>
                        <p class="card-text">For any complaints or queries related to your travel experience.</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> victoriasneha04&#64;gmail.com</p>
                        <p class="card-text"><i class="fas fa-phone"></i> 9976716085</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-contactform></app-contactform>
 