.about-us-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url('../../../assets/images/Untitled design (23).png');
    transition: height 1s ease; /* Default transition duration */
  }
  
  .content h1 {
    font-size: clamp(2rem, 5vw, 3rem); /* Responsive font size */
  }
  
  .down-arrow {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
  }
  
  .down-arrow .fa-chevron-down {
    font-size: clamp(2rem, 5vw, 3rem); /* Responsive font size */
  }
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .about-us-container {
      height: 30vh; /* Set height to 30vh for mobile */
      transition: height 0.5s ease; /* Shorter transition for mobile */
    }
  
    .mobile-animation {
      height: 30vh; /* Ensure consistency in height for mobile */
    }
  }
  
  .about-welcome-container {
    padding: 20px;
    border-radius: 8px;
    margin-top: 4rem; /* Optional, for rounded corners */
  }
  
  .contact-bread {
    margin-top: 20px;
  }
  
  .contact-bread a {
    text-decoration: none;
    color: black;
  }
  
  .about-welcome-container h4 {
    font-size: clamp(1.7rem, 2.5vw, 1.75rem);
    font-family: "Poppins", sans-serif;
    color: rgb(26, 2, 2);
    /* Responsive font size */
  }
  .about-welcome-container p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(79, 78, 78);

  }
  .whytourexperrscard{
    position: relative;
  }
  
  .card-title {
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
  }
  
  
  
  
  .whycard{
    color: #12758b;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;  /* Center text inside the card */
  }
  
  .card-body img {
    max-width: 100%; /* Ensure image doesn't overflow */
    height: auto;    /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space between image and text */
  }
  
  .card-title {
    margin-top: 10px; /* Space between image and title */
  }
  .card-content{
    color: rgb(79, 78, 78);
    font-size: 16px;
}
 