<div class="mb-3 row">
  <label for="typeahead-prevent-manual-entry" class="col-xs-3 col-sm-auto col-form-label">Search for a tour package:</label>
  <div class="col">
    <input
      id="typeahead-prevent-manual-entry"
      type="text"
      class="form-control"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
    />
  </div>
</div>
<hr />

<!-- Display packages as cards or list items -->
<div class="row">
  <div class="col-md-4" *ngFor="let pkg of filteredPackages">
    <div class="card">
      <img src="{{ pkg.imageUrl }}" class="card-img-top" alt="{{ pkg.packagename }}">
      <div class="card-body">
        <h5 class="card-title">{{ pkg.packagename }}</h5>
        <p class="card-text">{{ pkg.description }}</p>
        <p class="card-text"><small class="text-muted">{{ pkg.location }}, {{ pkg.country }}</small></p>
      </div>
    </div>
  </div>
</div>
