<app-homecarousel></app-homecarousel>



<section class="traveler-connect py-5">
	<div class="container threecards">
	  <div class="row threecardsrow">
		<div class="col-md-4 mb-4 ">
		  <div class="card h-100 text-center shadow-sm">
			<div class="card-body">
			  <div class="counter" id="customerCounter" style="font-size: 2rem;">
				{{ displayCustomerCount | number:'1.0-0' }}K
				<h3> Customers</h3>

			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4 mb-4 ">
		  <div class="card h-100 text-center shadow-sm">
			<div class="card-body">
			  <div class="counter" id="travelDestinationsCounter" style="font-size: 2rem;">
				{{ displayDestinationCount }}+
				<h3>Travel Destinations</h3>

			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-4 mb-4 ">
		  <div class="card h-100 text-center shadow-sm">
			<div class="card-body">
			  <div class="counter" id="partnersCounter" >
				{{ displayPartnerCount | number:'1.0-0' }}+
				<h3> Partners</h3>

			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <app-homepackage></app-homepackage>