
   <div class="container mt-4">
	<h3 class="mb-5 packages">Packages</h3>
	<div class="row g-4">
	  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let packageType of packageTypes">
		<a href="#" class="card-link">
		  <div class="card h-100 shadow-sm border-0 rounded position-relative overflow-hidden">
			<div class="image-container position-relative">
			  <img class="card-img-top rounded-top zoom-effect" [src]="packageType.image" alt="{{ packageType.title }}">
			</div>
			<div class="card-body">
			  <h5 class="card-title text-center">{{ packageType.title }}</h5>
			  <p class="card-text text-center">{{ packageType.description }}</p>
			</div>
		  </div>
		</a>
	  </div>
	</div>
  </div>
  
  
  
  
  