

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(135deg, #fcf9f9, #f1f3f5); /* Soft Sky */
}

.image-container {
  position: relative;
  overflow: hidden;
}
.packages{
  font-family: "PT Serif", serif;
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: black;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  filter: brightness(0.8) contrast(1.2);
}

.zoom-effect {
  transition: transform 0.3s ease-out;
}

.image-container:hover .zoom-effect {
  transform: scale(1.1); /* Zoom effect */
}

.card-body {
  position: relative;
  z-index: 1; /* Ensure text is above the image */
}

.card-title {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;

}

.card-text {
  font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    color: rgb(74, 73, 73);

}


